.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./images/man-thinking-sunset.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}

nav ul {
float: right;
width:  40%;
margin-top: 30px;

}
nav ul li {
 display: inline-block;
list-style: none;
padding : 10px;
border-radius: 2px;
color: white;
cursor:pointer;
}

nav ul li:hover {
    border: 0.5px solid white;


}

nav a {
    text-decoration: none;
}
.banner h1 {
 text-align: center;
 top: 50%;
 left: 50%;
 position: absolute;
 transform: translate(-50%, -50%);
 color :white;
 font-size: 50px;
}

.hero-btn {
text-decoration: none;
border: 0.5px solid white;
color: white;
padding : 15px;
cursor: pointer;
position: relative;
top: 450px;
left:600px

}

@media (max-width: 700 px) {
  

}
.hero-btn:hover{
   background : rgb(211, 158, 13)
}
nav  img {
 height

}